header h1{
  position:relative;
  left:100px;
  color:#ffffff;
}
header img{
  position:relative;
  top:-70px;
  
}
nav{
  text-align:center;
  position:relative;
  left:500px;
  bottom:130px;
}
nav a{
  text-decoration:none;
  background-color:rgba(255,255,255,0.7);
  margin:20px;
  padding-left:50px;
  padding-right:50px;
  color:#000000;
  border-radius:5px;
}
nav a:hover{
  background-color:#ffffff;
}
html{
  background-image:url('https://webeveryone.github.io/sample/5.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  margin:5px;
  border-radius:25px;
}
footer img{
  
  width:20px;
}
body h2#right{
 text-align:center;
  position:relative;
  left:350px;
}
body h2{
  font-weigth:1500;
}
body h2#left{
  position:relative;
  left:100px;
}
footer p{
  display:inline-block;
  color:#0000ff;
  margin:20px;
}
footer{
  text-align:center;
  font-weigth:1000;
}